{% extends 'base.html.twig' %}

{% block title %} VIEW SYMFONY {% endblock %}

{% block body %}

<h2> VIEW SYMFONY </h2>
<hr>

<ul> 
<h1> // I - Conditions dans la vue </h1>

        // if ... endif <br>
        // if ... else ... endif <br>
        // if ... elsif ... else ... endif <br>

{% set Git, Uml, Symfony, java = '12', '15', '15', '10' %}

            {% if Git > 10 %}
                Votre Note en GIT : {{ Git }} <br>
                Votre Mention = ACQUIS
            {% endif %}
            //if elseif endif
            Votre note en UML: {{ Uml }} <br>
        {% if Uml > 14 %}
             ACQUIS <br>
            {% elseif Uml < 12 %}
                EN COURS D'acquisistion <br>
            {% else %}
            NON Acquis
        {% endif %}
    



{% endblock %}
