{% extends 'base.html.twig' %}

 {% block title %}la liste des eleves!{% endblock %}
 
 {% block body %}
 <h1>{% block h1 %}la liste des eleves!{% endblock %}</h2>
  <h2>{{nom[0]}}</h2>
  <h2>{{nom[2]}}<h2>
  <h2>{{nom[3]}}<h2>
  
  
 
 {% endblock %}