{% extends 'base.html.twig' %}

{% block title %} 
    nom du Controller
{% endblock %}

{% block body %}

     

        </ul>
        <ul>
        <li>{{nom[0]}}</li>
        <li>{{nom[1]}}</li>
        <li>{{nom[2]}}</li>
        <li>{{nom[3]}}</li>
        
        </ul>



{% endblock %}
