{% extends 'base.html.twig' %}

{% block title %} 
    nomleau Controller
{% endblock %}

{% block body %}

        <ul>
            

            <li>
            
            </li>
        </ul>

        </ul>
        <ul>
        <li>{{nom[0]}}</li>
        <li>{{nom[1]}}</li>
        <li>{{nom[2]}}</li>
        <li>{{nom[3]}}</li>
        
        </ul>



{% endblock %}
