{% extends 'base.html.twig' %}

{% block title %} 
    nom du Controller
{% endblock %}

{% block body %}

     

        </ul>
        
        <p>je m'appelais <h1>{{nomval}} {{prenomval}}</h1> et maintenant ,</br></p>
        <h1>{% set nomval="Moaaz" %}{{nomval}}</h1></br>
        
        



{% endblock %}
