{% extends 'base.html.twig' %}


{% block title %}Actualitées !{% endblock %}

{% block body %}
<style>

h1{
    border-radius:15px;
    border:solid 2px;
    background-color:yellow;
    font-size:bold;
    color:black;
}
    </style>


<h1> Vos Actualitées !</h1>
{% endblock %}
