{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>


    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;  }
    .example-wrapper code { font-style:bold;background: green; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 >Hello {{ controller_name }} create by Emma! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfony/test2/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfony/test2/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>


    <li><a href="/galerie">Galerie:</a></li>
    <li><a href="/view/stagiaire">Stagiaire:</a></li>
    </ul>


</div>
{% endblock %}
