{% extends 'base.html.twig' %}


{% block title %}programme{% endblock %}

{% block body %}
<style>

h1{
    border-radius:15px;
    border:solid 2px;
    background-color:red;
    font-size:bold;
    color:ivory;
}
    </style>


<h1> Voiçi Vos Programmes</h1>
{% endblock %}
