
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: blue;
      }
      
      li {
        float: left;
      }
      
       a {
        display:inline-block;
        color:ivory;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:hover {
        background-color: #111;
      
      
      } 
      body{
        background-color:rgb(95, 95, 211);
        color:ivory;
        font-size: 10px;
    }
    footer{
      text-align: center;
      background-color: rgb(211, 144, 120);
      color:ivory;
      border: 2px,dotted,rgb(179, 89, 89);
      border-style: dotted;
      border-color: black;
    }