<html>
    <head>
        <meta charset="UTF-8">       
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        
        {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/design/design.css">
             {# <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> #}
                    <link rel="stylesheet" href="{{ asset('public/index.php') }}">
        <link rel="stylesheet" href="bootstrap.min.css">
        {# <link href="{{ asset('css/main.css')}}" rel="stylesheet">     #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <style>
    /*!
 * Start Bootstrap - SB Admin 2 v4.1.3 (https://startbootstrap.com/theme/sb-admin-2)
 * Copyright 2013-2021 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-sb-admin-2/blob/master/LICENSE)
 */

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

    </style>
    

        {% block body %}{% endblock %}
      </body>
    <footer>
      {% block footer %}
       <div>
       <p>ESRP Paul Guinot</br>
       <p>94800 villejuif</br>
       </div>

        {% endblock %}
    
    </footer>

</html>

}

