<li> <a href="{{path('bibi_extension')}}">Extensions</a><l/li>
<li> <a href="{{path('bibi_image')}}">images</a><l/li>
<li> <a href="{{path('bibi_administration')}}">Administration</a><l/li>
<li> <a href="{{path('bibi_systeme')}}">Systeme</a><l/li>


<h3>le Menu<h3>
<ul>
 
