{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

<div>
<h1>
    <h1>Categorie </h1>
<table class="table">
        <thead>
            <tr>
            <th>Id</th>
                <th>Title</th>
                <th>Resume</th>                

            </tr>
        </thead>
        <tbody>
        
        <tr>
        <td>
          {{cat.id}}
        </td>
        
        <td>
          {{cat.titre}}
        </td>
        
        <td>
          {{cat.resume}}
        </td>
        
        </tr>
        
        </tbody>
    </table>
{% endblock %}
