{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}

<div>
<h1>
    <h1>Articles index</h1>
<table class="table">
        <thead>
            <tr>
            <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Action</th>
                

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
        <td>
          {{article.id}}
        </td>
        
        <td>
          {{article.titre}}
        </td>
        
        <td>
          {{article.resume}}
        </td>
        <td>
          <a href="{{path('art_affichage', {'id':article.id})}}">Cliquez ICI !</a>
        </td>
        
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
