{% extends 'base.html.twig' %}

{% block title %}Bienvenu(s) dans notre Bibliotheque!{% endblock %}

{% block body %}
<style>


    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;  }
    .example-wrapper code { font-style:bold;background: green; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 >Votre page A propos</h1>

    This friendly message is coming from:
    <ul>
        
     


    
    </ul>


</div>
{% endblock %}
