{% extends 'base.html.twig' %}

{% block title %}Bienvenu(s) dans notre Bibliotheque!{% endblock %}


{% block body %}

    <div >
        
            {% include "menu_biblio_user.html.twig"%}
    
</div>






{% endblock %}
