{% extends 'base.html.twig' %}

{% block title %}Bienvenu(s) dans notre Bibliotheque!{% endblock %}


{% block body %}
<div id="main">
    <div id="g">
        
           User: {% include "menu_biblio_user.html.twig"%}
    
</div>
<div>
    <h3>Connexion</h3>
</div>






{% endblock %}
