{% extends 'base.html.twig' %}

{% block title %}Bienvenu(s) dans notre Bibliotheque!{% endblock %}


{% block body %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Utilisateur</h5>
      <p class="card-text">Bienvenu sur la en Cher utilisateur.</p>
      <a href="{{path('bibi_user')}}" class="btn btn-primary">Se connecter en tant qu'utilisateur</a>
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Administration</h5>
      <p class="card-text">Bienvenu sur la en Cher Admistrateur</p>
      <a href="{{path('bibi_administration')}}" class="btn btn-primary">Se connecter en tant qu'administrateur</a>
    </div>
  </div>
<   
</div>






{% endblock %}
